<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
            "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>PaintMe</title>
    <link rel="stylesheet" type="text/css" href="/media/css/base.css" />
  </head>
  <body class="{{ page }}">
    <div class="header">
      <h1><a href="/">PaintMe</a></h1>
       {% if page %}<h4>{{ page|title }}</h4>{% endif %}
    </div>
    
    <div class="content">
      {% block content %}{% endblock %}
      <div class="clear"></div>
    </div>
  </body>
</html>
